/* Reseting default styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Wrapping container to center content */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 0;
}
