/* Reseting default styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* =========== HEADER =========== */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 0;
}

.gallery-img {
    width: 16%;
    vertical-align: bottom;
    margin-top: -2px;
}

li {
    display: inline-block;
    margin-right: 34px;
    margin-left: 34px;
}

a.navbar-item {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 34px 0px 34px 0px;
}

a.navbar-item:hover {
    color: #286782;
    border-bottom: 3px solid #286782;
}

.header-menu {
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 24px -16px black;
}

.hero{
    text-align: center;
    padding: 100px 0px 100px 0px;
}
.hero-slogan{
    font-size: 56px;
    color: #555559;

}
.hero-link{
    font-size: 20px;
    background-color: #286782;
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 22px 30px 22px 30px;
    border-radius: 6px;
}

/* =========== PRODUCTION LIST =========== */


.production-item{
    color: #555559;
}
.production-text,
.production-img{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.production-text{
    padding-top: 140px;
    letter-spacing: 1px;
    max-width: 450px;
    margin: 0 auto;

}
.production-title{
    font-size: 24px;
    margin: 0px 0px 40px 0px
}
.production-description{
    font-size: 18px;
    line-height: 28px;
}